@font-face {
    font-family: "goldenPier";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/goldenPier/goldenPier.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/goldenPier/goldenPier.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/goldenPier/goldenPier.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/goldenPier/goldenPier.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/goldenPier/goldenPier.ttf") format("truetype");
    font-display: swap;
}
.goldenPier {
    font-family: "goldenPier";
}